@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-moz-selection {
    @apply text-white bg-yellow-850;
  }

  ::selection {
    @apply text-white bg-yellow-850;
  }

  a {
    @apply inline-block;
  }

  img {
    @apply w-full;
  }

  select {
    @apply appearance-none bg-none;
  }

  section.bg-white {
    @apply text-slate-950;
  }

  /* Toggle navigation */
  header.active {
    @apply bg-slate-950 md:bg-opacity-0;
  }

  header.active #toggle-menu-button span:first-child,
  header.active #toggle-menu-button span:last-child {
    @apply absolute left-0 w-full;
  }

  header.active #toggle-menu-button span:first-child {
    @apply top-1/2 -translate-y-1/2 rotate-45;
  }

  header.active #toggle-menu-button span:last-child {
    @apply bottom-1/2 translate-y-1/2 -rotate-45;
  }

  header.active #toggle-menu-button span:not(:first-child):not(:last-child) {
    @apply hidden;
  }

  header.active #nav {
    @apply pb-4 md:pb-0 h-max md:h-auto overflow-visible md:overflow-auto;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6 xl:px-12;
  }
}

@layer utilities {
  .cta {
    @apply font-light text-base border border-solid md:text-center capitalize py-1.75 px-7.75 transition-all duration-200 hover:text-white;
  }

  .cta-main {
    @apply text-yellow-850 border-yellow-850 border-opacity-50 hover:bg-yellow-850 hover:border-opacity-100;
  }

  .cta-dark {
    @apply text-slate-950 border-slate-950 hover:bg-slate-950;
  }

  .section-heading {
    @apply font-playfair-display font-normal text-3xl md:text-4xl capitalize before:content-[''] before:block before:w-28 before:h-px before:bg-yellow-850 before:opacity-75 before:mb-4;
  }

  .section-heading.text-center {
    @apply before:mx-auto;
  }

  h1.section-heading {
    @apply before:opacity-50;
  }
}

/* Custom CSS */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

section:not([class*="bg-"]) {
  color: #0c1618;
}
